.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* STYLING FOR HEADER NAVBAR */
.headerContainer {
  /* border: 3px solid blue; */
  background-color: #20232A;
  font-size: 18px;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerNav {
  /* border: 3px solid yellow; */
  width: 75rem;
  height: 100%;
  color: white;
  /* margin-left: auto;
  margin-right: auto; */
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.logo {
  /* border: 3px solid red; */
  width: 150px;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.navigation {
  /* border: 3px solid green; */
  width: 350px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.navLinks {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: 200;
}

.navLinks:hover {
  color: #3AC0BA;
  transition: 0.2s;
}

.logo:hover {
  color: #3AC0BA;
  transition: 0.2s;
}

/* STYLING FOR BODY */

.bodyContainer {
  width: 100%;
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.banner {
  /* border: 3px solid green; */
  width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2F3037;
  height: 28rem;
  z-index: 1;
}

.bannerTextContainer {
  /* border: 1px solid blue; */
  color: #FFFFFF;
  margin-top: 1rem;
  width: 90rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bannerH1Text {
  /* border: 1px solid red; */
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 0.01rem;
  text-align: center;
  width: 90rem;
}

.bannerPText {
  /* border: 1px solid yellow; */
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: 0.01rem;
  text-align: center;
  width: 90rem;
}

.bannerButton {
  padding: 15px 45px;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  background-color: #3AC0BA;
  color: #20232A;
  outline: none;
}

.bannerButton:hover {
  background-color: #ffffff;
  transition-timing-function: ease;
  transition: 0.2s;
  cursor: pointer;
}

.content {
  /* border: 3px solid red; */
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.blurbContainer {
  /* border: 3px solid green; */
  border-bottom: 1px solid rgba(160, 160, 160, 0.5);
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 20rem;
  width: 75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blurb {
  /* border: 3px solid red; */
  padding: 20px 20px 0px 20px;
  width: 25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.7;
  font-size: 17px;
}

.blurbHeader {
  color: #6d6d6d;
  font-weight: 300;
  font-size: 20px;
  padding-top: 0;
}

.impContainer {
  /* border: 3px solid blue; */
  /* margin-bottom: 10rem; */
  border-bottom: 1px solid rgba(160, 160, 160, 0.5);
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.implementation {
  /* border: 3px solid yellow; */
  padding: 10px 20px 10px 20px;
  /* padding-left: 20px;
  padding-right: 20px; */
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.codeText {
  font-size: 17px;
  background-color: #cccaca;
}

.implementationDesc {
  /* border: 3px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.7;
  height: 100%;
  width: 29rem;
}

.implementationCode {
  /* border: 3px solid pink; */
  /* margin-bottom: 20px; */
  background-color: #2F3037;
  padding: 1.75%;
  color: #d4d4d4;
  font-weight: 200;
  font-size: 14px;
  height: 100%;
  width: 40rem;
  overflow: scroll;
}

.learnMoreBtnContainer {
  margin-top: 3rem;
}

.learnMoreButton {
  padding: 15px 45px;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  background-color: #3AC0BA;
  color: #20232A;
  outline: none;
}

.learnMoreButton:hover {
  background-color: #2F3037;
  color: #ffffff;
  transition-timing-function: ease;
  transition: 0.2s;
  cursor: pointer;
}

.teamContainer {
  /* border: 3px solid green; */
  border-bottom: 1px solid rgba(160, 160, 160, 0.5);
  /* margin-top: 2rem; */
  /* margin-bottom: 2rem; */
  padding-top: 2rem;
  padding-bottom: 3rem;
  width: 75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamHeader {
  /* border: 3px solid yellow; */
  margin: none;
  padding: none;
}

.teamHeaderText {
  font-weight: 300;
  letter-spacing: 0.01rem;
  font-size: 2.25rem;
  color: rgb(90, 90, 90);
}

.teamInfo {
  /* border: 3px solid red; */
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team {
  /* border: 3px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 50%;
}

.links {
  /* border: 3px solid green; */
  /* margin-top: 1rem; */
  width: 100%;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.01rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.linkAvatars {
  /* border: 3px solid yellow; */
  width: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* STYLING FOR BODY */

/* STYLING FOR FOOTER */

.footerContainer {
  background-color: #20232A;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerNav {
  /* border: 3px solid green; */
  height: 90%;
  width: 75rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footerLogo {
  /* border: 3px solid yellow; */
  color: #ffffff;
  font-size: 10px;
  font-weight: 200;
  letter-spacing: 0.03rem;
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerLinks {
  /* border: 3px solid red; */
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footerAvatar {
  cursor: pointer;
}

.childrenContainer {
  margin-top: -30.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  /* border: 3px solid red; */
  margin-top: 5rem;
}

.logoWrapper {
}