.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* STYLING FOR HEADER NAVBAR */
.headerContainer {
  background-color: #20232A;
  color: white;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 50px;
}

.headerNav {
  /* border: 3px solid yellow; */
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-right: 10px;
  width: 150px;
}

.navigation {
  width: 450px;
  height: 100%;
  /* border: 3px solid green; */
  display: flex;
  align-items: center;
}

.links {
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 300;
}

/* STYLING FOR BODY */

.bodyContainer {
  width: 100%;
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.banner {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2F3037;
  width: 100%;
  height: 300px;
}

.bannerTextContainer {
  color: #FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerH1Text {
  /* border: 1px solid orange; */
  margin: 0;
}

.bannerPText {
  /* border: 1px solid yellow; */
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.01rem;
  text-align: center;
}

.bannerButton {
  padding: 10px 25px;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  background-color: #3AC0BA;
  color: #20232A;
  outline: none;
}

.content {
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.blurbContainer {
  /* border: 3px solid green; */
  border-bottom: 1px solid rgba(160, 160, 160, 0.5);
  padding-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

.blurb {
  /* border: 3px solid green; */
  padding: 20px 20px 0px 20px;
  width: 25rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.7;
  font-size: 17px;
}

.blurbHeader {
  color: #6d6d6d;
  font-weight: 300;
  font-size: 20px;
  padding-top: 0;
}

.impContainer {
  border: 3px solid blue;
  border-bottom: 1px solid rgba(160, 160, 160, 0.5);
  margin-bottom: 2rem;
}

.implementation {
  border: 3px solid yellow;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.implementationDesc {
  border: 3px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
  height: 90%;
  width: 20rem;
}

.implementationCode {
  border: 3px solid pink;
  height: 90%;
  width: 40rem;
}
/* STYLING FOR BODY */

.footerContainer {
  /* border: 3px solid red; */
  width: 100%;
  height: 100%;
}