.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counterContainer {
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 18rem;
  height: 25rem;
  border: 1px solid #6c757d;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #6c757d;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  /* border: 3px solid green; */
  width: 11.5rem;
  margin: 0.5rem;
}

.buttons {
  /* border: 3px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.backButton {
  /* border: 1px solid green; */
  margin: 1rem;
  font-size: 1rem;
}

.displayName {
  margin: 1rem;
}

.displayCounter {
  font-size: 8rem;
  margin: 0;
}

.displayTimer {
  font-size: 4rem;
  margin: 0;
}

.displaySwitch {
  margin-top: 5rem;
  transform: rotate(270deg);
}

.displaySwitchStatus {
  margin-top: 4rem;
  font-size: 2rem;
}

.aButton {
  font-size: 50rem;
  font-weight: 700;
}

/* All for a light switch */
/* The switch - the box around the slider */
.displaySwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.displaySwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6c757d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f8f9fa;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #3f51b5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3f51b5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* All for a light switch */
